body {
    background-color: black;
}

#component-app-title h1 {
    color: white;
}

#component-app-elements {
    position: relative;
}

#component-addthoughtform {
    position: absolute;
    top: 0;
    padding-top: 1vw;
    left: 0;
    padding-left: 1vw;
    width: 30vw;
}